data/
apache/logs/
data/*
apache/logs/*

# Abaikan semua isi folder /www
/www/*

/tmp/*
/sessions/*

# Tapi kecualikan file index.php di dalam /www
!/www/index.php

mysql/my.ini
php/php.ini
config/httpd.conf
php/php.ini
php/php.ini
